# editorconfig.org
root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown: giữ khoảng trắng cuối dòng
[*.md]
trim_trailing_whitespace = false

# JSON, YAML, Dockerfile, TOML: chuẩn hóa
[*.{json,yml,yaml,toml,dockerfile}]
indent_size = 2
indent_style = space

# JavaScript / JSX / TypeScript / TSX / CSS / SCSS
[*.{js,jsx,ts,tsx,css,scss}]
indent_size = 2
indent_style = space

# Markdown / TXT / MDX: giữ khoảng trắng quan trọng
[*.{md,txt,mdx}]
trim_trailing_whitespace = false
