# Node modules
node_modules/

# MacOS
.DS_Store

# Cache / build outputs
.cache/
build/
app/build/
public/build/
public/_dev/
app/public/build/

# Database / Prisma
prisma/dev.sqlite
prisma/dev.sqlite-journal
prisma/dev.db
database.sqlite

# Environment variables
.env
.env.*

# Extensions build outputs
extensions/*/dist/

# Shopify dev files
.shopify/*
.shopify.lockdev.db
